streamlit
streamlit_chat
langchain
langchain-experimental
langchain-openai
langchain-community
pandas
openai
tqdm
python-dotenv
faiss-cpu
tiktoken
tabulate
unstructured
pdf2image
pydantic
numpy
openpyxl
